form {
    height: 1500px;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

.navbar a, 
.login,
.basket,
.overlay__content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navbar a.option:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar a.active {
    text-decoration: underline;
}

.navbar a.active:hover {
  color: dodgerblue;
  cursor: pointer;
}

.login:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0px 20px;
}

.welcomeBack {

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.fa-angle-down {
    padding-top: 20px;
}

.fa-angle-down:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
}

.dropdown-content p {
    font-size: 24px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.dropdown-content button {
    background-color: #FFFFFF;
    width: 300px;
    border: none;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.show {
    display: block;
}


.line1 {
    position: absolute;
    width: 90%;
    left: 65px;

    border: 1px solid #000000;
}

.logo {
    height: 70px;
    width: 300px;
}

.basket {
    height: 30px;
    width: 150px;
}

.rectangleHeader {
    position: absolute;
    width: 90%;
    height: 196px;
    left: 65px;
    top: 207px;
    text-align: center;
    background: #F8FED2;
}

.para1 {
    position: absolute;
    width: 281px;
    height: 35px;
    left: 40%;
    top: 63px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.para2 {
    position: absolute;
    width: 263px;
    height: 53px;
    left: 42%;
    top: 90px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.logoPhoto {
    position: absolute;
    width: 347px;
    height: 347px;
    left: 162px;
    top: 430px;
}

.aimDiv {
    text-align: center;
}

.aimPara {
    position: absolute;
    width: 381px;
    height: 36px;
    left: 750px;
    top: 490px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;

    color: #000000;

}

.line3 {
    position: absolute;
    width: 422px;
    left: 750px;
    top: 554px;
    border: 1px solid #000000;
}

.aimPara2 {
    position: absolute;
    width: 388px;
    height: 208px;
    left: 770px;
    top: 581px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

.ourProducts {
    top: 805px;
}

.ourProductLabel {
    position: absolute;
    width: 408px;
    height: 49px;
    left: 38%;
    top: 807px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;

}

.coffeeTea {
    position: absolute;
    width: 946px;
    height: 507px;
    left: 21%;
    top: 856px;
    opacity: 50%;
}

.coffeeLabel {
    position: absolute;
    width: 170px;
    height: 52px;
    left: 30%;
    top: 886px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

.aboutCoffee {
    position: absolute;
    width: 300px;
    height: 299px;
    left: 25%;
    top: 1050px;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

.teaLabel {
    position: absolute;
    width: 170px;
    height: 52px;
    left: 60%;
    top: 886px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

.aboutTea {

    position: absolute;
    width: 300px;
    height: 299px;
    left: 57%;
    top: 1050px;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}