* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

.navbar a, 
.login,
.basket,
.overlay__content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navbar a.option:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar a.active {
    text-decoration: underline;
}

.navbar a.active:hover {
  color: dodgerblue;
  cursor: pointer;
}

.login:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0px 20px;
}

.welcomeBack {

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.fa-angle-down {
    padding-top: 20px;
}

.fa-angle-down:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
}

.dropdown-content p {
    font-size: 24px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.dropdown-content button {
    background-color: #FFFFFF;
    width: 300px;
    border: none;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.show {
    display: block;
}


.line1 {
    position: absolute;
    width: 90%;
    left: 65px;

    border: 1px solid #000000;
}

.logo {
    height: 70px;
    width: 300px;
}

.basket {
    height: 30px;
    width: 150px;
}

.productCoffee {
    align-items: center;
    background: #FFFFFF;
    margin: 30px 30px 30px 30px;
    border: #E0E0E0 1px solid;
}

.coffeeImage {
    height: 155px;
    width: 250px;
    background-color: #FFF;
}

.coffeeTitleFooter {
    padding: 100px 100px 20px 50px;
    overflow: auto;
}

.coffeeName {
    position: absolute;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 28px;
    padding-left: 300px;
    padding-top: 30px;
}

.fa-star {
    color: orange;
}

.coffeeDesc {
    padding-top: 90px;
    position: absolute;
    width: 1000px;
    font-family: Arial;
    font-size: 20px;
    padding-left: 300px;

}

.coffeePrice {
    float: left;
    font-family: Arial;
    font-size: 20px;
}

.cartAction {
    float: right;
}

.coffeeQuantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.addCartButton {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial;

}