/* File need fix */

form {
    height: 720px;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  button:hover {
      cursor: pointer;
  }
.navbar a, 
.login,
.basket,
.overlay__content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navbar a.option:hover {
    color: dodgerblue;
    cursor: pointer;
}

.login {
    text-decoration: underline;
}

.login:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0px 20px;
}

.welcomeBack {

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.fa-angle-down {
    padding-top: 20px;
}

.fa-angle-down:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
}

.dropdown-content p {
    font-size: 24px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.dropdown-content button {
    background-color: #FFFFFF;
    width: 300px;
    border: none;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.show {
    display: block;
}

.line1 {
    position: absolute;
    width: 90%;
    left: 65px;

    border: 1px solid #000000;
}

.logo {
    height: 70px;
    width: 300px;
}

.basket {
    height: 30px;
    width: 150px;
}

.welcomeClass {
    position: absolute;
    width: 358px;
    height: 52px;
    left: 45%;
    top: 150px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.rectangle1 {
    position: absolute;
    width: 530px;
    height: 435px;
    left: 15%;
    top: 237px;
    background: #F8FED2;
    border: 2px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 75px 0px 0px 75px;
}

.signInSocMed {
    position: absolute;
    width: 358px;
    height: 52px;
    left: 100px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.facebookButton {
    position: absolute;
    width: 430px;
    height: 60px;
    left: 50px;
    top: 104px;
    text-align: center;
    font-size: 20px;
    background: #00239D;
    border-radius: 10px;
    color: #FFFFFF;
}

.googleButton {

    position: absolute;
    width: 430px;
    height: 60px;
    left: 50px;
    top: 218px;
    text-align: center;
    font-size: 20px;
    background: #BB0808;
    border-radius: 10px;
    color: #FFFFFF;
}

.newUser {

    position: absolute;
    width: 416px;
    height: 65px;
    left: 135px;
    top: 330px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.signUpHere {
    position: absolute;
    width: 416px;
    height: 65px;
    left: 230px;
    top: 330px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: dodgerblue;

    text-decoration: underline;
}

.signUpHere:hover {
    color: #00239D;
    cursor: pointer;
}

.rectangle2 {

    position: absolute;
    width: 530px;
    height: 435px;
    left: 48%;
    top: 237px;

    background: #CBF3BD;
    border: 2px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 0px 75px 75px 0px;
}

.signInNormal {
    position: absolute;
    width: 358px;
    height: 52px;
    left: 160px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.inputContainer {
}

.emailText {
    position: absolute;
    width: 430px;
    height: 60px;
    left:50px;
    top: 104px;

    border: 2px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 10px;
}

.mailImg {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 70px;
    top: 116px;
}

.passwordText {
    position: absolute;
    width: 430px;
    height: 60px;
    left: 50px;
    top: 218px;

    border: 2px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 10px;
}

.pwdImg {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 70px;
    top: 230px;
}

.forgetPw {
    position: absolute;
    width: 115px;
    height: 35px;
    left: 50px;
    top: 278px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #3E3E3E;
}

.forgetPw:hover {
    color: indigo;
    cursor: pointer;
}

.signInBtn {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 380px;
    top: 332px;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
}
