form {
    height: 720px;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

.navbar a, 
.login,
.basket,
.overlay__content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navbar a.option:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar a.active {
    text-decoration: underline;
}

.navbar a.active:hover {
  color: dodgerblue;
  cursor: pointer;
}

.login:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0px 20px;
}

.welcomeBack {

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.fa-angle-down {
    padding-top: 20px;
}

.fa-angle-down:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
}

.dropdown-content p {
    font-size: 24px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.dropdown-content button {
    background-color: #FFFFFF;
    width: 300px;
    border: none;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.show {
    display: block;
}


.line1 {
    position: absolute;
    width: 90%;
    left: 65px;

    border: 1px solid #000000;
}

.logo {
    height: 70px;
    width: 300px;
}

.basket {
    height: 30px;
    width: 150px;
}

.getInTouch {

    position: absolute;
    width: 222px;
    height: 60px;
    left: 204px;
    top: 158px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;

    color: #000000;
}

.rectangle1 {
    position: absolute;
    width: 768px;
    height: 411px;
    left: 180px;
    top: 229px;

    background: #F8FED2;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.rectangle2 {
    position: absolute;
    width: 401px;
    height: 412px;
    left: 947px;
    top: 229px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.nameLabel {
    position: absolute;
    width: 116px;
    height: 33px;
    left: 15px;
    top: 25px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.contactName {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 15px;
    top: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    background-color: #F8FED2;
}

.emailLabel {
    position: absolute;
    width: 116px;
    height: 33px;
    left: 345px;
    top: 25px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.contactEmail {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 345px;
    top: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    background-color: #F8FED2;
}

.subjectLabel {
    position: absolute;
    width: 116px;
    height: 33px;
    left: 15px;
    top: 139px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.contactSubject {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 15px;
    top: 177px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    background-color: #F8FED2;
}

.messageLabel {
    position: absolute;
    width: 116px;
    height: 33px;
    left: 15px;
    top: 243px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.contactMessage {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 15px;
    top: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    background-color: #F8FED2;
}

.fa-paper-plane {
    position: absolute;
    left: 580px;
    top: 310px;
    background-color: #F8FED2;
    border: none;
}

.fa-paper-plane:hover {
    cursor: pointer;
    color: dodgerblue;
}

.contactInfo {
    position: absolute;
    width: 273px;
    height: 33px;
    left: 15px;
    top: 25px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.fa-map-marker {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 15px;
    top: 115px;
    font-size: 24px;
}

.fa-phone {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 15px;
    top: 212px;
    font-size: 24px;
}

.fa-instagram {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 15px;
    top: 309px;
    font-size: 24px;
}